<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>Late File Tax Return Specialists | A team of dedicated and dynamic professionals who have extensive experience in not only dealing with prior year tax returns and correspondences with Canada Revenue Agency, but has also saved thousands of dollars for our clients through minimising taxes on the returns filed. </title>

  <!-- add SEO meta tags here --> 

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/index.css" type="text/css" />

  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/scripts/materialize.js"></script>
  <script src="/scripts/init.js"></script>
  <script src="/scripts/app.js"></script>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

</head>
<body>
  
  <% include partials/_nav %>

  <main>

  <section class='row sliderRow'>
    <div class="slider col s12 m8">
      <ul class="slides">
        <li>
          <img src="./images/pig.jpg">
          <article class="caption left-align">
            <h3>Do you have CRA sending you demanding letters?</h3>
            <a class="waves-effect waves-light btn blue darken-3" href="#modal1">Get Support</a>
          </article>
        </li>
        <li>
          <img src="./images/tax.jpg">
          <div class="caption left-align">
            <h3>Are you owing back taxes?</h3>
            <a class="waves-effect waves-light btn blue darken-3" href="#modal1">Get Support</a>
          </div>
        </li>
      </ul>
    </div>
    <article class='col s12 m4 posts'>
      <h4>Related Articles</h4>
    </article>
  </section>

  <br/>
  <br/>

  <section class="container iconRow">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 card-panel hoverable">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Frozen Account</h5>

            <p class="light">A series of things that can be said to tell you about how to solve your frozen account issue.</p>
          </div>
        </div>

        <div class="col s12 m4 card-panel hoverable">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Garnished Wages</h5>

            <p class="light">A series of things that can be said to tell you about how to solve your garnished wages issue.</p>
          </div>
        </div>

        <div class="col s12 m4 card-panel hoverable">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">CRA Letters</h5>

            <p class="light">A series of things that can be said to tell you about how to solve your CRA letters issue.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <br/>
  <br/>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <section class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </section>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <% include partials/_modelForm %>

  <!-- code for the admin modal called in _modalForm.ejs --> 
  <div id="modal2" class="modal bottom-sheet black-text">
    <div class="modal-content">
      <form class="col s12" method=POST action='/newPost'>
        <h3>Include a New Article</h3>
        <div class="row">
          <div class="input-field col s12 m4">
            <i class="material-icons prefix">perm_media</i>
            <input name='title' type="text" class="validate">
            <label>Article Title</label>
          </div>
          <div class="input-field col s12 m4">
            <i class="material-icons prefix">language</i>
            <input name='url' value='https://' type='text' class="validate">
            <label>Link To Website</label>
          </div>
          <div class="input-field col s12 m4">
            <i class="material-icons prefix">input</i>
            <textarea name='description' id="textarea2" class="materialize-textarea"></textarea>
            <label for="textarea2">Article Description</label>
          </div>
        </div>
        <input class="btn waves-effect waves-light blue darken-3" type="submit" name="action">
      </form>
    </div>
  </div>

  <!-- code for the login modal called in _modalForm.ejs -->
  <div id="modal3" class="modal bottom-sheet black-text">
    <div class="modal-content">
      <form class="col s12" method=POST action='/login'>
        <h3>Login</h3>
        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">perm_identity</i>
            <input name='admin' type="text" class="validate">
            <label>Username</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">vpn_key</i>
            <input name='password' type='text' class="validate">
            <label>Password</label>
          </div>
        <input class="btn waves-effect waves-light blue darken-3" type="submit" value='login' name="action">
      </form>
    </div>
  </div>

  </main>

  <% include partials/_footer %>

  </body>
</html>
